@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700&display=swap');

#fullHeight {
    min-height: 100vh;
}

.s_cover .parallax .s_parallax_is_fixed .bg-black-50 .s_parallax_no_overflow_hidden {
    height: 100vh;
}
#wrapwrap.o_header_overlay > header:not(.o_header_affix) > .navbar .nav-item > .nav-link {
    color: #fff !important;
}
#wrap {
    margin-top: 0 !important;
}
#bannerContainer {
    box-shadow: -2px 2px white;
}
#wrapwrap.o_header_overlay > header:not(.o_header_affix) > .navbar {
    background-color: rgba(255,255,255,.15) !important;
}
.o_form_heading {
    font-size: 18px;
}

.fa.rounded-circle, .fa.rounded, .fa.rounded-0, .fa.rounded-leaf, .fa.img-thumbnail, .fa.shadow {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.o_footer_copyright {
    background-color: black !important;
}

.o_portal_wrap {
    background-color: #E0DFDF;
}

@media (min-width: 1200px) {
    .col-xl-3 {
        flex: none;
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .col-lg-4 {
        flex: none;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: auto;
        flex-grow: unset;
        max-width: 100%;
    }
}

#top_menu > li.dropdown {
    background-color: #DE8C26;
    border-radius: 10px;
    margin: 0 10px;
}

#wrapwrap.o_header_overlay > header:not(.o_header_affix) > .navbar .nav-item.show > .nav-link {
    background-color: #DE8C26;
    border-radius: 10px;
    margin: 0 10px;
}

